.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  max-width: 1184px;
  margin: 0 auto 92px;
  grid-gap: 16px;
  width: calc(100% - 2*48px);
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    grid-gap: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .photo-grid {
    width: calc(100% - 2*24px);
    margin-bottom: 88px;
  }
}
@media screen and (max-width: 700px) {
  .photo-grid {
    width: calc(100% - 2*16px);
    margin-bottom: 64px;
    grid-gap: 12px;
  }
}