.places {
  max-width: 984px;
  margin: 0 auto 92px;
  width: calc(100% - 2*48px);
}

@media screen and (max-width: 1000px) {
  .places {
    margin-bottom: 88px;
    width: calc(100% - 2*24px);
  }
}
@media screen and (max-width: 700px) {
  .places {
    width: 100%;
    margin-bottom: 64px;
  }
}