.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  margin: 0 auto 56px;
  padding-top: 28px;
  align-items: center;
  width: 90%;
}
@media screen and (max-width: 1200px) {
  .header {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .header {
    padding-top: 16px;
    width: 90%;
  }
}